<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<administration-port>9202</administration-port>
	<instances>
		<instance port="9006" directory="/opt/bantotal/apache-tomcat-6.0.18/webapps/bantotal" maxThreads="11" capabilities="Default" debug="true" privatePath="bin" namespace="com.dlya.bantotal">
			<repetitive-tasks>
				<repetitive-task objectName="PJAQM821" parameters="1,O" delayAfterInvoke="120"/>
				<repetitive-task objectName="PJAQN321" parameters="1" delayAfterInvoke="60"/>
				<repetitive-task objectName="PJAQM644" parameters="1,0" delayAfterInvoke="5"/>
				<repetitive-task objectName="PAQPD006" parameters="1,O" delayAfterInvoke="60"/>
				<repetitive-task objectName="PJAQM932" parameters="1,0" delayAfterInvoke="900"/>
				<repetitive-task objectName="PJAQA123" parameters="1,O" delayAfterInvoke="5"/>
				<repetitive-task objectName="PAQPC344B" parameters="1,O" delayAfterInvoke="3600"/>
			</repetitive-tasks>
		</instance>
		<instance port="9007" directory="/opt/bantotal/apache-tomcat-6.0.18/webapps/bantotal" capabilities="Excel" debug="true" privatePath="bin" namespace="com.dlya.bantotal"/>
		<instance port="9008" directory="/opt/bantotal/apache-tomcat-6.0.18/webapps/bantotal" capabilities="Impresor" debug="true" privatePath="bin" namespace="com.dlya.bantotal"/>
	</instances>
</configuration>
